.home {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 93.5rem;
  margin: 0 auto;
  padding-top: 8.2rem;
}

.home__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 999px) {
  .home {
    width: 100%;
  }

  .home__container {
    width: 100%;
  }
}

@media screen and (max-width: 553px) {
  .home {
    padding-top: 5.3rem;
  }
}