.post {
  width: 61.4rem;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  margin: 2.5rem 0;
}

.post img {
  width: 100%;
  display: block;
}



@media screen and (max-width: 631px) {
  .post {
    width: 100%;
  }
}

@media screen and (max-width: 553px) {
  .post {
    border: none;
    margin: 0;
  }
}