.profile{
  margin-top: 1.8rem;
  display: flex;
  align-items: center;
  height: 5.6rem;
  width: 100%;
  font-size: 1.4rem;
}

.profile--small {
  height: 3.2rem;
}

.profile__image {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  margin-right: 1.8rem;
}

.profile__image--small {
  width: 3.2rem;
  height: 3.2rem;
}

.profile__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile__name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 2;
}

.profile__name a {
  text-decoration: none;
  color: #262626;
  font-weight: 600;
  margin-bottom: .1rem;
}


.profile__name span {
  color: #8e8e8e;
}

.profile__switch-button {
  all: unset;
  cursor: pointer;
  color: #0095f6;
  font-size: 1.2rem;
  font-weight: 600;
}