.profile-posts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 94rem;
}


@media screen and (max-width: 999px) {
  .profile-posts  {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .post-img {
    justify-content: center;
  }
}
