.story-container {
  width: 61.4rem;
  height: 11.8rem;
  background-color:#ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 0 1rem;
}

.story-container ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  list-style-type: none;

}

@media screen and (max-width: 631px) {
  .story-container {
    width: 100%;
  }
}

@media screen and (max-width: 553px) {
  .story-container {
    border: none;
  }
}