img {
  pointer-events: none;
}
.story {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 11.2rem;
  width: 8rem;
  cursor: pointer;
}

.story span {
  color: #8e8e8e;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story__image {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 1px solid#dbdbdb;
  padding: 1px;
  margin-bottom: 0.5rem;
}

.story__image--new {
/*   border: 1px solid transparent;
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);  */
  border: double 2px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.story__image img {
  width:100%;
  height:100%;
  border-radius: 50%;
  border: 2px solid#dbdbdb;
}