:root {
  --border: #dbdbdb;
}

.navbar {
  height: 5.4rem;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid var(--border);
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.navbar__container {
  width: 97.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.navbar__logo {
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.navbar__logo img {
  position: relative;
  top: 4.5px;
}

.navbar__input {
  height: 2.8rem;
  width: 20rem;
  border: 1px solid var(--border);
  border-radius: 3px;
  outline: none;
  padding: 5px;
  text-align: center;
  line-height: 3rem;
  font-family: Arial, FontAwesome;
  background-color: #fafafa;
}

.navbar__input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.8rem;
  width: 20rem;
  border: 1px solid var(--border);
  border-radius: 3px;
  padding: 5px;
  line-height: 2.8rem;
  font-family: Arial, FontAwesome;
  overflow: hidden;
  color: #dbdbdb;
  background-color: #fafafa;
}

.navbar__input-container button {
  background: none;
  outline: none;
  border: none;
  color: #dbdbdb;
}

.navbar__input--focus {
  height: 2.8rem;
  width: 15rem;
  border: none;
  outline: none;
  background-color: #fafafa;
}

.navbar__links {
  padding-top: 5px;
}

.navbar__links a:not(:last-child) {
  margin-right: 2.2rem;
}

.navbar__links img {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
}

@media screen and (max-width: 975px) {
  .navbar__container  {
    width: 100%;
  }
}

@media screen and (max-width: 553px) {
  .navbar__search {
    display: none;
  }
}